{% extends "block-base.twig" %}

{% block content %}

    <div class="text-section">
        <div class="text-inner">
            {% if fields.title %}
            <h2 class="text-title">{{ fields.title }}</h2>
            {% endif %}
            {% if fields.content %}
            <div class="typo">
                {{ fields.content }}
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
