<div class="custom-color-field">
    <input type="text" class="custom-options-color" name="{{ name }}" id="{{ name }}" value="{{ value }}" />
    {% if description %}
    <p class="description">{{ description }}</p>
    {% endif %}
</div>
