/* gutenberg styles
-------------------------------------------------------------- */

// reset for gutenberg blocks
.block-editor-writing-flow,
.editor-styles-wrapper.wp-embed-responsive {
    & > .block-editor-block-list__layout {
        .wp-block:not(.block-list-appender) {
            all: initial;
            font-feature-settings: "pnum" on, "lnum" on;
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
        }
    }
}

@import "mixins";
@import "fonts";
@import "variables";
@import "extend";

/* fix gutenberg back button */
.editor-header__back-button {
    outline: none !important;
    border: none !important;
    background-color: #000;

    &:active,
    &:focus {
        outline: none !important;
        border: none !important;
    }

    *,
    &.active,
    &:hover,
    &:focus {
        outline: none !important;
        border: none !important;
    }

    a {
        &:before {
            display: none !important;
        }

        & > div {
            clip-path: none !important;
            background-color: #000 !important;

            img,
            svg {
                scale: 70%;
                transition: all .35s;
                background-color: #000 !important;
            }
        }

        &:hover {
            & > div {
                clip-path: none !important;
                background-color: #000;

                img,
                svg {
                    scale: 80%;
                    background-color: #000;
                }
            }
        }
    }

    .edit-post-fullscreen-mode-close__back-icon.has-site-icon {
        display: none !important;
    }
}

/* change width of gutenberg sidebar */
.is-gutenberg-sidebar-opened .admin-ui-navigable-region.interface-interface-skeleton__sidebar {
    width: 500px !important;

    .interface-complementary-area__fill {
        width: 100% !important;

        .interface-complementary-area.editor-sidebar {
            width: 100% !important;
        }
    }
}

/* new gutenberg fixes */
.editor-header .editor-header__center {
    display: none !important;
}

.editor-list-view-sidebar {
    .block-editor-tabbed-sidebar__tablist-and-close-button {
        display: none !important;
    }
}

.block-editor-inserter__main-area {
    .block-editor-tabbed-sidebar__tablist-and-close-button {
        .block-editor-tabbed-sidebar__tab:last-child {
            display: none !important;
        }
    }
}

/* editor and blocks overall styles */
.block-editor-writing-flow,
.editor-styles-wrapper.wp-embed-responsive {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    font-feature-settings: "pnum" on, "lnum" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    /* title area */
    & > .edit-post-visual-editor__post-title-wrapper {
        padding: 0;
        margin: 0;
        background-color: #fff;
        color: #000;
        box-sizing: border-box;
        width: 100%;

        .wp-block {
            width: 100%;
            max-width: 100%;
            margin: 0;
            padding: 0;
            border-bottom: solid 1px #E0E0E0;
        }

        .editor-post-title__input {
            padding: 18px 10px;
            margin: 0;
            font-size: 26px;
            line-height: 1;
            box-sizing: border-box;
        }
    }

    /* blocks area */
    & > .block-editor-block-list__layout {

        /* fix width for wp-block elements */
        .wp-block:not(.block-list-appender) {
            display: block;
            position: relative;
            width: 100%;
            max-width: 100%;
            font-family: 'Open Sans', sans-serif;
            text-align: left;
            overflow: hidden;
            font-size: 14px;
            line-height: 1.6;
            margin: 0 !important;

            * {
                box-sizing: border-box;
            }

            //p {
            //    margin-top: auto;
            //    margin-block-start: 0;
            //    margin-block-end: 0;
            //    margin-inline-start: 0;
            //    margin-inline-end: 0;
            //}
        }

        /* new box add button */
        & > .block-list-appender {
            width: 100% !important;
            text-align: center !important;
            padding: 0 !important;
            min-height: 0 !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;

            button {
                line-height: 1;
                display: inline-block;
                width: auto;
                white-space: nowrap;
                color: white;
                background-color: black;
                margin: 0;
                padding: 0;
                font-size: 0;
            }
        }
    }
}

/* fix gutenberg title top margin */
.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper {
    margin-top: 0 !important;
}

/* show device icons */
.customBlockWrapper {
    .wp-admin &,
    .block-editor-iframe__body & {
        display: block;

        .blockInfo {
            position: absolute;
            z-index: 99999999;
            transform: translateZ(99999999px);
            top: 0;
            left: 0;
            display: flex;
            background-color: rgba(black, .5);
            padding: 6px;
            color: #fff;

            svg {
                display: none;
                width: 16px;
                height: 16px;
                margin-right: 6px;

                &:last-child {
                    margin-right: 0;
                }
            }

            span {
                color: #fff;
                padding: 4px 4px 4px 0;
                line-height: 1;
                font-size: 12px;
            }
        }

        &.desktop_tablet {
            .blockInfo {
                svg.desktop {
                    display: block;
                }
            }
        }

        &.mobile {
            .blockInfo {
                svg.mobile {
                    display: block;
                }
            }
        }
    }
}

/* block preview styles */
.block-example {
    background-color: #fff;
    aspect-ratio: 1/.7;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
