/* login page
-------------------------------------------------------------- */

@import "mixins";

body.login {
    background-color: #ffffff;
}

.login #login h1 a {
    background-image: url(../svg/logo.svg);
    width: 320px;
    height: 68px;
    outline: none !important;
    border: none !important;
    color: transparent !important;
    background-size: contain !important;
    &:active, &:focus {
        outline: none !important;
        border: none !important;
        color: transparent !important;
        -webkit-box-shadow: 0 0 0 1px transparent !important;
        box-shadow: 0 0 0 1px transparent !important;
    }
}

.login {
    form {
        @include box-shadow(0 1px 2px 0px rgba(0,0,0,0.25));
    }
    #nav a, #backtoblog a {
        color: #fff !important;
        text-decoration: none;
    }
    #nav a:hover, #backtoblog a:hover {
        color: #fff !important;
        text-decoration: underline;
    }
    .button-primary {
        background-image: none;
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
        background-color: #000000;
        &:hover {
            background-image: none;
            opacity: 0.8;
            border: none !important;
            box-shadow: none !important;
            background-color: #000000;
        }
        &:visited, &:active, &:focus {
            background-image: none;
            opacity: 1;
            border: none !important;
            box-shadow: none !important;
            background-color: #000000;
        }
    }
    .button{
        text-shadow: none;
    }
    .privacy-policy-page-link {
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 0 24px;

        a{
            color: #fff;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}
